canvas{
    display: inline-block;
}

#parametresCT{
    display: inline-block;
}

#redBox,#yellowBox,#orangeBox,#greenBox,#blueBox,#pinkBox,#purpleBox{
    height: 20px;
    width: 20px;
    margin-bottom: 15px;
    border: 1px solid black;
}

#redBox{
    background-color: red;
}
#yellowBox{
    background-color: yellow;
}
#orangeBox{
    background-color: orange;
}
#greenBox{
    background-color: green;
}
#blueBox{
    background-color: blue;
}
#pinkBox{
    background-color: hotpink;
}
#purpleBox{
    background-color: rebeccapurple;
}