canvas{
    position : absolute;
    width: 42%;
    height: auto;
    display: inline-block;
}

#Souris{
    position: absolute;
    top : 35vw;
    width: 20vw;
}

#parametres{
    position : absolute;
    left : 45vw;
    display: inline-block;
}

#object{
    position: absolute;
    top : 2.0vw;
    left: 15vw;
    display: inline-block;
}

#light{
    position: absolute;
    top : 2.0vw;
    display: inline-block;
}

#selectedObj{
    position: absolute;
    top : 33vw;
    left: 1vw;
}

#selectedCubeMap{
    position: absolute;
    top : 33vw;
    left: 12vw;
}

#reflectButton,#refractButton{
    position: absolute;
    top : 35vw;
    border-width: 5px;
    border-color: black;
}

#reflectButton{
    left: 24vw;
}

#refractButton{
    left: 30vw;
}
