canvas{
  position : absolute;
  left : 1vw;
  top : 1vw;
  display: inline-block;
}

#parametresCT{
  position : absolute;
  left : 45vw;
  display: inline-block;
}

#object{
  position: absolute;
  top : 3.5vw;
  left: 15vw;
  display: inline-block;
}

#light{
  position: absolute;
  top : 3.5vw;
  display: inline-block;
}

#selectedObj{
  position: absolute;
  top : 25vw;
  display: inline-block;
}
