canvas{
    position : absolute;
    left : 1vw;
    top : 1vw;
    width: 43vw;
    height: auto;
    display: inline-block;
}

#deplacementCamera,#deplacementLumiere{
    background-color: whitesmoke;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    padding: 6px;
    margin: 6px;
    box-shadow: 3px 4px;
    position: absolute;

}

#phong, #cookTorance{
    background-color: whitesmoke;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    padding: 6px;
    margin: 6px;
    box-shadow: 3px 4px;
    position: absolute;
    left: 32vw;
}

#deplacementCamera:hover, #deplacementLumiere:hover,
#phong:hover, #cookTorance:hover{
    cursor: pointer;
}

#deplacementLumiere{
    left : 5vw;
}

#cookTorance{
    left: 36vw;
}

#deplacementCamera, #phong{
    background-color: yellow;
    box-shadow: 1px 2px;
}

.propertyCT{
    display: none;
}

#Souris{
    position: absolute;
    top : 35vw;
    width: 20vw;
}

#parametres{
    position : absolute;
    left : 45vw;
    display: inline-block;
}

#object{
    position: absolute;
    top : 2.0vw;
    left: 15vw;
    display: inline-block;
}

#light{
    position: absolute;
    top : 2.0vw;
    display: inline-block;
}

#selectedObj{
    position: absolute;
    top : 33vw;
    left: 1vw;
}
