canvas{
    display: inline-block;
}

#deplacementCamera,#deplacementLumiere{
    background-color: whitesmoke;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    padding: 6px;
    margin: 6px;
    box-shadow: 3px 4px;
}

#deplacementCamera:hover,#deplacementLumiere:hover{
    cursor: pointer;
}

#deplacementCamera{
    background-color: yellow;
    box-shadow: 1px 2px;
}



#parametresCT{
    display: inline-block;
}

#whiteBox,#redBox,#yellowBox,#orangeBox,#greenBox,#blueBox,#pinkBox,#purpleBox{
    height: 20px;
    width: 20px;
    margin-bottom: 15px;
    border: 1px solid black;
}

#whiteBox{
    background-color: #ffffff;
}
#redBox{
    background-color: red;
}
#yellowBox{
    background-color: #ffff00;
}
#orangeBox{
    background-color: #ffa500;
}
#greenBox{
    background-color: green;
}
#blueBox{
    background-color: blue;
}
#pinkBox{
    background-color: #ff69b4;
}
#purpleBox{
    background-color: #663399;
}
